*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    background-image: url("Images/eid-mubarak.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
button{
    margin-left: 15%;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: rgb(54, 195, 224);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 30px;
}